div#content-background {
    background-size: cover;
    position: absolute;
    width: 100%;
    height: 100%;
}

div#content-page {
    position: absolute;
    width: 100%;
    height: 100%;
    background: radial-gradient(farthest-side at 73% 21%, transparent, rgb(26, 29, 41));
}

div#content-details {
    margin-left: 100px;
    margin-top: 150px;
    display: flex;
    flex-direction: column;
    width: 30vw;
    font-size: 18px;
    word-spacing: 5px;
    letter-spacing: 1px;
}

button#play {
    width: 140px;
    height: 50px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    font-size: 18px;
    letter-spacing: 1px;
    background-color: #F9F9F9;
    margin-right: 20px;
    transition: .2s;
}

button#play:hover {
    background-color: #9a9a9a;
}

button.fav {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 2px solid #F9F9F9;
    cursor: pointer;
    font-size: 15px;
    background-color: #0000004D;
    color: #F9F9F9;
    transition: .2s;
    margin-right: 15px;
}

button.fav:hover {
    background-color: #F9F9F9;
    color: black;
}

div#controls {
    position: absolute;
    bottom: 0;
    display: flex;
    align-items: center;
    width: 100%;
    height: 170px;
    justify-content: space-between;
}

div#controls > span > i {
    font-size: 30px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

div#controls > button {
    background-color: transparent;
    border: none;
    color: #cacaca;
    font-size: 50px;
    cursor: pointer;
}

div#controls > button.pause-play {
    margin-left: 50px;
}

div#controls > button#fullscreen {
    margin-right: 50px;
}
