/* div#image-slider {
    display: flex;
    justify-content: flex-start;
    position: relative;
    animation: slidein 25s ease 0s infinite forwards normal;
}

div#image-slider > div {
    width: 90%;
    margin: 0 10px;
    border: 5px solid transparent;
    cursor: pointer;
    transition: .5s;
    right: -5vw;
}

div#image-slider > div:hover {
    border: 5px solid #F9F9F9;
} */

div#image-slider-container {
    display: flex;
    align-items: center;
    overflow-x: scroll;
    height: 520px;
    margin-top: 10px;
}

div#image-slider {
    display: flex;
    height: 100%;
    position: relative;
    right: -3.5vw;
}

div.content-container {
    width: 91vw;
    height: 100%;
    background-size: cover;
    margin-right: 20px;
    box-sizing: border-box;
    border: 5px solid none;
    transition: .5s;
    border: 5px solid transparent;
}

div.content-container:hover {
    border: 5px solid #F9F9F9;
}

div.banner-container {
    width: 100%;
    height: 100%;
    background-size: cover;
}

img.logo {
    position: relative;
    width: 20vw;
    top: 100px;
    left: 100px;
}

@keyframes slidein {
    0% {
        right: -5vw;
    }
    13% {
        right: -5vw;
    }
    14% {
        right: 86vw;
    }
    26% {
        right: 86vw;
    }
    27% {
        right: 180vw;
    }
    39% {
        right: 180vw;
    }
    40% {
        right: 270vw;
    }
    52% {
        right: 270vw;
    }
    53% {
        right: 360vw;
    }
    65% {
        right: 360vw;
    }
    66% {
        right: 453vw;
    }
    78% {
        right: 453vw;
    }
    79% {
        right: 545vw;
    }
    91% {
        right: 545vw;
    }
    92% {
        right: 635vw;
    }
    100% {
        right: 635vw;
    }
}
